.app {
    display: flex;
    max-width: 1200px;
    max-height: 400px;
    padding: 8px;

    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 5px 8px 0px rgba(92, 92, 92, 0.2);
}

@media (max-width: 1200px) {
    .app {
        display: block;
        max-height: 100%;
    }
}